In [1]:
import numpy as np
import pandas as pd

In [10]:
df_price = pd.read_csv('../input/jpx-tokyo-stock-exchange-prediction/train_files/stock_prices.csv')
df_financial = pd.read_csv('../input/jpx-tokyo-stock-exchange-prediction/train_files/financials.csv')
df_stocklist = pd.read_csv('../input/jpx-tokyo-stock-exchange-prediction/stock_list.csv')

/var/folders/1k/wj0bvnz165sfyvwsqlfxwfmw6bk41g/T/ipykernel_99208/1116028146.py:2: DtypeWarning: Columns (14,15,16,17,18,19,42,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df_financial = pd.read_csv('../input/jpx-tokyo-stock-exchange-prediction/train_files/financials.csv')

In [3]:
df_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 12 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   RowId             1048575 non-null  object
 1   Date              1048575 non-null  object
 2   SecuritiesCode    1048575 non-null  int64
 3   Open              1046070 non-null  float64
 4   High              1046070 non-null  float64
 5   Low               1046070 non-null  float64
 6   Close             1046070 non-null  float64
 7   Volume            1048575 non-null  int64
 8   AdjustmentFactor  1048575 non-null  float64
 9   ExpectedDividend  9049 non-null     float64
 10  SupervisionFlag   1048575 non-null  bool
 11  Target            1048339 non-null  float64
dtypes: bool(1), float64(7), int64(2), object(2)
memory usage: 89.0+ MB

In [9]:
df_price.SupervisionFlag.value_counts()

False    1048029
True         546
Name: SupervisionFlag, dtype: int64

In [4]:
df_price.drop(['RowId'])

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,20170104_1301,2017/01/04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
1,20170104_1332,2017/01/04,1332,568.0,576.0,563.0,571.0,2798500,1.0,NaN,False,0.012324
2,20170104_1333,2017/01/04,1333,3150.0,3210.0,3140.0,3210.0,270800,1.0,NaN,False,0.006154
3,20170104_1376,2017/01/04,1376,1510.0,1550.0,1510.0,1550.0,11300,1.0,NaN,False,0.011053
4,20170104_1377,2017/01/04,1377,3270.0,3350.0,3270.0,3330.0,150800,1.0,NaN,False,0.003026
...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,20190403_7201,2019/04/03,7201,935.9,943.3,932.0,938.3,11291600,1.0,NaN,False,0.000424
1048571,20190403_7202,2019/04/03,7202,1527.0,1530.5,1510.5,1522.5,1947100,1.0,NaN,False,0.007261
1048572,20190403_7203,2019/04/03,7203,6706.0,6742.0,6666.0,6728.0,4425800,1.0,NaN,False,0.009743
1048573,20190403_7205,2019/04/03,7205,969.0,976.0,965.0,975.0,1466600,1.0,NaN,False,0.008197
1048574,20190403_7211,2019/04/03,7211,605.0,611.0,604.0,606.0,3327300,1.0,NaN,False,0.006494